fieldset {
   position: relative;
   padding: 5px 30px 70px 30px;
   background: white;
   border-radius: 5px;
   margin-left: 15px;
   margin-right: 15px;
   margin-bottom: 25px;
}

fieldset:last-of-type {
   margin-bottom: 0;
}

input, label, select, textarea, fieldset p, div.errorMessage, #ccNumErrorMessage, #cvvErrorMessage {
   position: relative;
   top: 50px;
   line-height: 1.2em;
}






label, input {
   display: block;
}




